@(fields: List[model.Field])

@main(Messages("responses.new")) {
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 well">
        <form id="form-ajax-submit" action="@routes.ResponseController.addResponse().url" method="@routes.ResponseController.addResponse().method">
            <div class="form-group-material-cyan field-input-form">
                @for(field <- fields) {
                    @fragments.fieldFragment(field)
                }
                <button type="submit" onclick="ajaxSubmit(event, '@Messages("responses.add.success")')"
                    class="btn btn-material-cyan btn-block">@Messages("input.submit")</button>
                <button type="reset"
                    class="btn btn-material-light-green btn-block">@Messages("input.reset")</button>
            </div>
        </form>
    </div>
}