@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/material.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ripples.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/roboto.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("less/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @fragments.header()
        @fragments.message()
        @content

        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/material.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ripples.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/project.js")" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
    </body>
</html>
